
{% extends 'base.html'%}
{% load static tailwind_tags %}

{% comment %} <h2>Bidder Page</h2>
<p>Username:{{ request.user }}</p>

<hr>
<h3>Applied Auctions</h3>


{% for auction in applied_list %}
    <p>Auction id: {{ auction.id }}</p>
    <p>Name: {{ auction.name }}</p>
    <p>Description: {{ auction.description }}</p>
    <img src="{{ auction.image.url }}" alt="">
    <p>Base Price: {{ auction.base_price }}</p>
    <p>Auctioner: {{ auction.auctioner }}</p>
    <p>Ending date: {{ auction.ending_date }}</p>
    <p>Is closed: {{ auction.is_closed }}</p>
    <p>Bids count: {{ auction.bid_count }}</p>
    <p>Max bids: {{ auction.max_bids }}</p>
    <p>Winner: {{ auction.winner }}</p>
    <p>Bidding_date: {{ auction.bidding_date }}</p>
    <hr>
{% endfor %}

<h3>Available auctions for bidding</h3>
{% for auction in available_list %}
    <p>Auction id: {{ auction.id }}</p>
    <a href="{% url 'auction-detail' auction.pk %}"><p>Name: {{ auction.name }}</p></a>
    <img src="{{ auction.image.url }}" alt="">
    <p>Base Price: {{ auction.base_price }}</p>
    <p>Ending date: {{ auction.ending_date }}</p>
    <p>Is closed: {{ auction.is_closed }}</p>
    <p>Bids count: {{ auction.bid_count }}</p>
    <p>Max bids: {{ auction.max_bids }}</p>
    <hr>
{% endfor %} {% endcomment %}



{% block title %}
    BidSecure
{% endblock %}
{% block body %}

<div class="min-h-screen">
    {% include './header.html' %}
    <section class="grid grid-cols-5 border-t"> 
        <div class="bg-white border-r-4 sticky px-8 min-h-[90vh] md:flex flex-col hidden">
            <div class="p-4 border-b">
                <h2 class="text-lg font-semibold">Filters</h2>
            </div>
            <div class="p-4 space-y-3">
                <a href="?search=" class="block text-gray-600 hover:text-[#cf1cc4]"><i class="fas fa-list"></i> Available Auctions</a>
                <a href="?filter=completed&search={{ search_query|default_if_none:'' }}" class="block text-gray-600 hover:text-[#cf1cc4]"><i class="fas fa-check-circle"></i> Completed</a>
                <a href="?filter=ongoing&search={{ search_query|default_if_none:'' }}" class="block text-gray-600 hover:text-[#cf1cc4]"><i class="fas fa-clock"></i> Ongoing</a>
                <a href="?filter=upcoming&search={{ search_query|default_if_none:'' }}" class="block text-gray-600 hover:text-[#cf1cc4]"><i class="fas fa-calendar-alt"></i> Upcoming</a>
                <a href="?view=applied&search={{ search_query|default_if_none:'' }}" class="block text-gray-600 hover:text-[#cf1cc4] hover:cursor-pointer"><i class="fa-solid fa-list"></i> My Bids</a>
            </div>
        </div>
        <div class="col-span-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mx-[24px] my-[24px]">
            {% if view_applied %}
                {% if applied_list %}
                    {% for auction in applied_list %}
                    <a href="{% url 'auction-detail' auction.id %}">
                    <div class="bg-white shadow-md rounded-lg p-4 border hover:cursor-pointer hover:shadow-[#cf1cc4] h-[335px] ">
                        <img src="{{ auction.image.url }}" alt="Item Image" class="rounded-xl w-full h-48 object-cover">
                        <hr/>
                        <div class="p-2">
                            <h3 class="text-lg font-semibold">{{ auction.name }}</h3>
                            <p class="text-gray-600 text-sm">End Time: {{ auction.ending_date }}</p>
                            <button href="{% url 'auction-detail' auction.id %}" class="mt-2 inline-block bg-[#cf1cc4] hover:bg-[#a12699] text-white px-4 py-2 rounded-full">Place a Bid</button>
                        </div>
                    </div>
                </a>
                    {% endfor %}
                {% else %}
                    <div class="col-span-4 text-center py-8">
                        <p class="text-gray-600 text-lg">No items to display</p>
                    </div>
                {% endif %}
            {% else %}
                {% if available_list %}
                    {% for auction in available_list %}
                    <a href="{% url 'auction-detail' auction.id %}">
                    <div class="bg-white shadow-md rounded-lg p-4 border hover:cursor-pointer hover:shadow-[#cf1cc4] h-[335px] ">
                        <img src="{{ auction.image.url }}" alt="Item Image" class="rounded-xl w-full h-48 object-cover">
                        <hr/>
                        <div class="p-2">
                            <h3 class="text-lg font-semibold">{{ auction.name }}</h3>
                            <p class="text-gray-600 text-sm">End Time: {{ auction.ending_date }}</p>
                            <button  class="mt-2 inline-block bg-[#cf1cc4] hover:bg-[#a12699] text-white px-4 py-2 rounded-full">Place a Bid</button>
                        </div>
                    </div>
                </a>
                    {% endfor %}
                {% else %}
                    <div class="col-span-4 text-center py-8">
                        <p class="text-gray-600 text-lg">No items to display</p>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </section>

</div>
{% include "footer.html" %}
{% endblock %}