<footer class="border-t-2 py-4 ">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex justify-between items-center">
        <div class="flex space-x-14">
            <a href="/" class="text-lg font-bold">BidSecure</a>
            <a href="https://nillion.com/" class="text-gray-600">Nillion</a>
            <a href="https://github.com/Sandesh-Pyakurel/Bidding" class="text-gray-600">Github</a>
            <a href="/login" class="text-gray-600">Get Started</a>
        </div>
        <div class="text-gray-600">
            © BidSecure 2024
        </div>
    </div>
</footer>